/* Red-Theme */
/* Colors */
$red-theme-base-bg-color: red;
$red-theme-important-bg-color: rgb(122, 14, 14);
$red-theme-warning-bg-color: pink;

/* Fonts */
$red-theme-primary-font: Arial;
$red-theme-secondary-font: monospace;

/* Others */
$red-theme-border-radius: 0px;
$red-theme-box-shadow: -12px 16px 16px 0px rgba(0, 0, 0, 0.75);

/* Blue-Theme */

/* Colors */  
$blue-theme-base-bg-color: blue;
$blue-theme-important-bg-color: rgb(26, 26, 98);
$blue-theme-warning-bg-color: rgb(18, 212, 226);

/* Fonts */
$blue-theme-primary-font: Georgia;
$blue-theme-secondary-font: Brush Script MT;

/* Others */
$blue-theme-border-radius: 12px;
$blue-theme-box-shadow: 12px 16px 16px 0px rgba(0, 0, 0, 0.75);
