/* Base box background color */
$red-base-box-color: rgb(216, 45, 45);
$blue-base-box-color: rgb(72, 72, 225);
$green-base-box-color: rgb(54, 155, 54);

/* Text color */
$blue-light-text-color: rgb(85, 188, 228);
$yellow-ligth-text-color: yellow;
$purple-light-text-color: rgb(192, 125, 192);

@mixin define-base-color($base-color) {
  .base-color {
    background-color: $base-color;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
  }
}

@mixin darken-and-lighten-color($box-color, $text-color) {
  $amount-bg: 8%;
  $amount-text: 5%;

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($box-color, $i * $amount-bg);
      .color-box-text {
        color: lighten($text-color, $i * $amount-text);
      }
    }
    .lighten-#{$i} {
      background-color: lighten($box-color, $i * $amount-bg);
      .color-box-text {
        color: darken($text-color, $i * $amount-text);
      }
    }
  }
}

@function define-box-base-colors($item) {
  @if $item == 1 {
    @return $red-base-box-color;
  } @else if $item == 2 {
    @return $blue-base-box-color;
  } @else if $item == 3 {
    @return $green-base-box-color;
  }
}

@function define-text-base-colors($item) {
  @if $item == 1 {
    @return $blue-light-text-color;
  } @else if $item == 2 {
    @return $yellow-ligth-text-color;
  } @else if $item == 3 {
    @return $purple-light-text-color;
  }
}
